<!DOCTYPE>
<html>
<head> 


</head>
    <body>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
<div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                 <div class="fill" style="background-image: url('css/paint4.jpg')"></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image: url('css/paint5.jpg')"></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image: url('css/paint1.jpg')"></div>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
</div>
    </body>
 
</html>



