<div class="inner-wrapper">
	<div class="title"> Niamh </div> 
	<div class="title-2">Mulholland</div><br><br>
	<div class="menu">[I sometimes do stuff] <br> <br>
	<div class="items"><a href="pages/about">ABOUT</a> | <a href="pages/about2">APPS</a> | <a ui-sref="webdesign">WEBDESIGN</a> | <a ui-sref="other">OTHER</a></div></div>
</div>




