a:hover {
	text-decoration: none;
}
/* nav-bar styling */
svg .circle {
	fill: white;
	stroke: black;
	stroke-width: 3;
	r: 3;
}

svg .header-text {
	font-family: 'Jura';
	font-size: 30px;
	fill: #337ab7;
}
svg .text {
	font-family: 'Jura';
	font-size: 20px;
	opacity: 0.5;
}

svg .text:hover {
	font-family: 'Jura';
	font-size: 20px;
	opacity: 1;
}

.nav-icon {
	background-color: black;
	height: 45px;
	width: 55px;
	margin: 0;
	display: block;
	position: fixed;
	text-align: center;
	float: left;
	z-index: 999;
}
.nav-icon h1 {
	color: white;
	font-size: 20px;
	margin-top: 5px;
	font-family: 'Jura';
}


.nav-bar .name {
	margin-left: 0;
	float: left;
}

/* first section */

.main {
	padding-top: 0px;
	width: 100%;
	position: relative;
	height: 80vh;
}

/* second section */

.container .section-heading {
	font-family: 'Jura';
	text-decoration: none;
	font-size: 60px;
	color: #337ab7;
	
}

.container p, a {
	
	color: black;
	font-family: 'Jura';
	padding: 5px;
}

.row {
	padding: 55px;
}


section {
	padding-bottom: 0;

}

#about {
	padding-bottom: 100px;

}

#about a {
	color: black;

}

#about .redirect {
	opacity: 0.5;
}

#about a:hover {
	opacity: 1;
	color: black;
}


#contact p {
	background-color: white;
	color: black;
	text-align: center;
}

#contact a {
	color: #337ab7;
	
}

footer .text-muted {
	font-size: 13px;
	padding: 50px;
	text-align: center;
	font-family: 'Jura'
}

footer hr {
	 border-width: 3px;
  	 max-width: 1000px;
}





