
* {
	margin: 0;
	padding: 0;

}

#container {
	width: 100%;
	height: 100vh;
	background-color: white;
}

#container .nav-bar1 {
	z-index: 10;
	float: left;
	position: absolute;
}

#container .nav-bar1 .vertical-line {
	width: 2px;
	background-color: #000099;
	display: block;
	height: 120px;
	margin-left: 300px;
	margin-top: -35px;

} 

#container .nav-bar1 .horizontal-line {
	width: 30.5px;
	background-color: #000099;
	display: block;
	height: 2px;
	margin-left: 60px;
	margin-top: 0;

}

#container .top-row .nav-icon {
	z-index: 5;
	background-color: black;
	height: 35px;
	width: 45px;
	margin: 0;
	float: left;
	display: block;
	position: fixed;
}

#container .top-row .nav-icon h1 {
	font-family: 'Jura';
	color: white;
	position: absolute;
	padding-left: 2px;
	margin: 0;
}

#container .nav-bar1 .top-row {
	height: 35px;
	color: black;
}

#container .nav-bar1 .top-row h2 {
	font-family: 'Jura';
	text-decoration: none;
	padding: 3px 58px 3px 50px;
	float: left;
	margin: 0;
	border: 2px solid #000099;
	border-right: none;
}

#container .nav-bar1 .middle-row-1 .box a {
	padding: 5px 22px 5px 23px;
	text-decoration: none;
	border: 2px solid #000099;
	display: inline-block;
	float: left;
	margin: 0px;
	font-family: 'Jura'; 
	border-top: none;
	border-right: none;
}

.box {
	display: inline;
}

#container .nav-bar1 .middle-row-2 a {
	padding: 5px 27.9px 5px 34px;
	border: 2px solid #000099;
	text-decoration: none;
	display: inline-block;
	float: left;
	margin: 0px;
	font-family: 'Jura'; 
	border-top: none;
	border-right: none;
}

#container .nav-bar1 .bottom-row .box {
	border-bottom: none;
}

#container .nav-bar1 .bottom-row a {
	float: left;
	text-decoration: none;
	font-family: 'Jura';
	padding: 5px 15px 10px 179.5px;
	margin: 0;
	border-left: 2px solid #000099;
}

#container .nav-bar1 a:hover {
	background-color: black;
	opacity: 0.7;
	color: white;
}

#container img {
	z-index: 1;
	float: right;
	opacity: 0.2;
	margin-top: 85px; 
	margin-right: 200px;
	width: 800px;
	height: 500px;
}

.section .title {
	font-size: 40px;
	font-family: 'Jura';
	text-transform: uppercase;
	padding: 80px;
	background-color: #e1e1ea;

}


#footer {
	padding-top: 92vh;
}

#footer p {
	font-family: 'Jura';
	color: white;
	text-align: right;
	background-color: black;
	opacity: 0.3;
	position: relative;
}




