<!DOCTYPE html>
	<head>
		<% include ../partials/style-links %>
	</head>

	<% include ../partials/nav-icon %>
	
<div class="inner-wrapper">
	<div class="menu">
		<p>Niamh [ˈniːəv] Mulholland
		<br> Harvard 2019. A.B. Computer Science. 
		<br> you can download my r&eacutesum&eacute here</p>
		<br>  <p>things i like and/or think are cool: </p>
		<br> Linguistics [studies korean + has okay-ish level of irish]. Robots. Computer Hardware.
		<br> Star Wars. Green tea. 
	</div>
</div>

 	<% include ../partials/footer %>  

</html>
