<!DOCTYPE html>
	<head>
		<% include ../partials/style-links %>
	</head>

	<% include ../partials/nav-icon %>

<div class="inner-wrapper">
	<div class="holder">
		<div class="middle">[ˈniːəv]</div><div class="first">Niamh</div><div class="second">Mulholland</div>
		<div class="info"> Harvard 2019. A.B. Computer Science.
		<br><br> niamhmulholland@college.harvard.edu

		</div>
	</div>

</div>

 	<% include ../partials/footer %>  

</html>
