<!DOCTYPE html>
	<head>
		<% include ../partials/style-links %>
	</head>

	<% include ../partials/nav-icon %>
	
	<div class="inner-wrapper">
		<h3>Undergoing Maintenance</h3>
		<p>New content being uploaded, check this space out soon!</p>
	</div>

	<% include ../partials/main %>
 	<% include ../partials/footer %>  

</html>
