<!DOCTYPE html>
<html lang="en">
<head>
    
    <% include ../partials/style-links %>

</head>

    <main>
       <% include ../partials/nav-icon %>
       <% include ../partials/main %>
       <% include ../partials/footer %>   
    </main>

</html>