<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/style-links %>
    <% include ../partials/nav-icon %>
</head>

   <section class="sub-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                       <!-- <h2 class="section-heading">Projects</h2> -->
                        <div class="container"><div class="project-block">Web Design</div></div>
                        <div class="container"><div class="project-block">Art</div></div>
                        <div class="container"><div class="project-block">Apps and Electronics</div></div>
                </div>
            </div>
        </div>
    </section>
    
    <% include ../partials/footer %>
</html>