<!DOCTYPE html>
<html lang="en">

<head>
 <% include ../partials/style-links %>
 <% include ../partials/nav-icon %>
</head>

   <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">R&eacute;sum&eacute;</h2>
                        <hr class="primary">
                </div>
            </div>
        </div>
    </section>

    <% include ../partials/footer %>

</html>